[2021-08-31 19:54] doppelgrau opened #1268 "HeapFeeder: "Stiring" in the Heaps can damage parts"
# Problem Report
## Describe the Issue

With larger parts (mainly 1206 capacitors, but also observed with some 0603 capacitors) the tactic to go down continuous can lead to problems if the tip gets stuck between parts. they can form quite robust structures and not move away like the smaller resistors.
As a result some force is applied to the parts that in some cases can even damage the part.

## S

[2021-08-31 20:07] doppelgrau opened #1269 "Feature Request: Ignore nozzle height calibration on nozzle tip change"
# Feature Request
## Describe the Feature
Add an option for the nozzle tip changer to ignore the calibration.

## How Will It Look?
Some checkbox would be my suggestion

## Why Do We Need It?
With nozzle height calibration "on nozzle tip change" you can adjust for uneven nozzle tip lengths.
But if the difference is large (> 0.3mm in my case) the movements to load/unload the nozzle tips do not work

[2021-08-31 20:08] izimihail commented on #1063
Right, I misunderstood the generic bottom vision pipeline. Now it's clear :)

[2021-08-31 21:31] doppelgrau commented on #1267
A short question: is there a reason the planer checks the nozzleTip before feed, but not before pick?
And should that problem addressed there (move the check before pick) or in the feeder (can cause tripple nozzle change: Switch to nozzle for the part, switch to push nozzle, switch to part nozzle).

[2021-08-31 21:39] ripe909 commented on #1063
@MatSpy OK, I tried to figure out what is going on with nozzle rotation, but it didn't seem to do what was expected.

I tried setting the feeder pick rotation to 90º and the place rotation to -90º, but it didn't seem to rotate the part at all, even though the trace output shows rotated values.  But then sometimes it does rotate the part, but usually to 0º...

I captured a trace for a single placem

[2021-09-01 06:00] markmaker commented on #1267
Just to be sure before I search: is this `develop` or `test` branch?

[2021-09-01 06:20] markmaker commented on #1267
You say "feed", not "pick". What button exactly are you pressing?
![buttons](https://user-images.githubusercontent.com/9963310/131621330-27d945f7-a1f6-47df-a5c4-5c3cf36af9e6.png)

I see it does **not** respect the compatible nozzle in the "feed" button handler, it just takes the nozzle that happens to be currently selected in the machine controls.

But if you take the "pick" button i.e. when the p

[2021-09-01 06:51] markmaker commented on #1269
**Just to exclude this:** Are you using vision calibration? If yes, do you use the **newest** OpenPnP version (`develop` or `test`)?

There was a bug in tool changer vision calibration, see #1264. It causes collisions that may look like the Z was wrong, when in fact it was Y that was wrong. Sorry about that.

_Mark

[2021-09-01 06:56] doppelgrau commented on #1267
Develop and observed it during a job. try to reate a video later to be 100% sure and also show the mechanics.

[2021-09-01 07:00] doppelgrau commented on #1269
No, vision was not used (although I like the idea).
Was develop. And Z was right, but the different nozzle length (calibration was nearly one mm difference)resulted in a different "real Z" between nozzle tip loading -> calibrating (changes) and unloading (does not fit anymore).
For the rest of the machine it was better

[2021-09-01 07:33] markmaker commented on #1267
Hmmm... that's unexpected (and not what it says in your **Steps to Reproduce** 🤓).

I will still fix the feed button first.

_Mark

[2021-09-01 07:39] markmaker commented on #1267
Ahh, it is a push cover, not a blinds cover. That explains it. Will fix that.

https://github.com/openpnp/openpnp/blob/d8dde15e8408c23a414f711d928b06f03ef2fa95/src/main/java/org/openpnp/machine/reference/feeder/BlindsFeeder.java#L347

It should use the extended method signature with the three `boolean` and set the last one `true`.

**But**: this will clearly be very inefficient. Push-cover only wo

[2021-09-01 07:47] doppelgrau commented on #1267
because I had some trouble with pushing (probably related to the large height differences observed in #1269 ) I only allowed the N08 and N14 nozzle to push, for a stepper motor driver I configured N24 (HTSSP-28) and during job tried to pick with the N08, was surprised it worked, but not great.
Reproduced it with the pick button (perform feed and pick operation). should I upload the video or do you

[2021-09-01 07:52] markmaker commented on #1267
Yes, I think I found it, see [above](https://github.com/openpnp/openpnp/issues/1267#issuecomment-910023203).

[2021-09-01 07:59] markmaker commented on #1269
Just so I understand:

You have a nozzle tips, that have varying "Z for loading" vs. "Z calibration" offsets?

![Varrying Z on nozzle tips](https://user-images.githubusercontent.com/9963310/131634714-c5b03612-9c39-4a67-876c-11ab08561a61.png)

_Mark

[2021-09-01 08:11] markmaker commented on #1267
Please test with new version.

[2021-09-01 08:16] doppelgrau commented on #1269
Not sure if we understand us correctly.
The load/unload without Z calibration works fine => loading unloading with the "machine Z" works.
But for not totally clear reasons* when I calibrate the nozzles the differences add up to nearly one mm => the "calibrated Z" when switching nozzles causes problem. since the unloading move can result in the nozzle tip holder being one millimeter higher/lower th

[2021-09-01 09:16] markmaker commented on #1269
Yes, I believe that _in the end result_, we're talking about the same thing.

If the geometry of the nozzle tip and changer slot are otherwise the same, then it should manifest in [these Z coordinate](https://github.com/openpnp/openpnp/wiki/Nozzle-Tip-Changer#four-positions) **offsets** being different between different slots:

(From the [Wiki](https://github.com/openpnp/openpnp/wiki/Nozzle-Tip-Ch

[2021-09-01 09:56] doppelgrau commented on #1269
I see one use case (not sure if relevant) where you might want to run nozzle change with calibration:
Your machine has really bad homing for Z, so you calibrate either the current nozzle or the raw holder before you are accurate enough for the nozzle changer.
But that can be catched with your "unloaded" tip. So that sounds good.

[2021-09-01 13:30] markmaker commented on #1269
For the Wiki:
https://github.com/openpnp/openpnp/wiki/Contact-Probing-Nozzle#z-calibration-inside-the-tool-changer
___

![nozzle_tip_different_Z_calibration](https://user-images.githubusercontent.com/9963310/131672327-9b7e377f-2326-4a8f-9a45-e9e0d2312d96.png)

[2021-09-01 13:36] markmaker commented on #1269
Hi @doppelgrau,
If I create and merge a PR with the fix, could you test it quickly? I don't see how I can meaningfully test this on my machine.
_Mark

[2021-09-01 13:39] doppelgrau commented on #1269
In around two hours I can test it.

[2021-09-01 13:54] markmaker commented on #1269
Cool! Do you need it merged, i.e. as download version, or can you checkout and build the PR?

https://github.com/openpnp/openpnp/pull/1273

_Mark

[2021-09-01 13:56] doppelgrau commented on #1269
Building should be no problem

[2021-09-01 14:39] ghostyu opened #1274 "use script to start a job"
# Problem Report
## Describe the Issue
Maybe it is not a issues, I've wrote a scripting that control a job starting, but it can not start the job

## Steps to Reproduce
1. dir C:\Users\Liu\.openpnp2\scripts\starttest.js
2. code the js
`
var imports = new JavaImporter(org.openpnp.model, org.openpnp.util);
with (imports) {
	print("## start a job")
	gui.jobTab.jobStart()
}
`

3. run the script

## Ex

[2021-09-01 17:48] doppelgrau commented on #1267
Seems to work, with an insane amount of nozzle tips changes, but works:

(first pick: N40 -> N14 -> )N40 (incompatible to all) -> N24(pick) -> runout calibration -> N14 (push) -> N24 -> pick up part

But not sure if related: each time before the pick (nozzle already placed at the part) I get an error: "GcodeDriver timeout waiting for response to M114; get position", timeout in machine setting is 3

[2021-09-01 18:20] doppelgrau commented on #1269
Building not, but testing :-)
My configuration has already the "poke"-Setting from the HeapFeeder maintenance. Is there a chance to put the change in some "official" branch, so I can simply pull the change into my branch? (didn't found how to pull from other repositories than upstream)

[2021-09-02 18:30] tonyluken commented on #1228
Maven Checkstyle seems to be working now although I don't know why - I didn't do anything to make it work - I just noticed that Maven tests where failing on things that the Checkstyle was supposed to catch.  In any case, I added the line-ending check, see PR #1275

[2021-09-03 19:48] markohoepken opened #1278 "User manual Issue"
Just image for Wiki
![actuator_cmd_assignment](https://user-images.githubusercontent.com/14028021/132058636-7f2a5e4d-8481-466c-8bac-e49522da4bc7.png)

[2021-09-03 19:52] #1278 closed

[2021-09-03 19:52] markohoepken commented on #1278
just for wiki image

[2021-09-03 20:58] tonyluken commented on #1274
Can you try gui.**getJobTab()**.jobStart()

[2021-09-04 00:45] doppelgrau commented on #1269
Did a "redneck"-merge (just copied the three changed files) and tested it, as far as I can tell it forks perfect now. thanks.

[2021-09-04 17:45] ripe909 commented on #1063
For anyone looking for the Vibration Feeder commands on/off, I traced them from the serial protocol and added an actuator that calls the following:

` private void startVibrate() throws Exception {
        byte[] b = new byte[8];
        write(0x46);
        expect(0x0a);
        write(0xc6);
        expect(0x02);

        b[0] = (byte)0x64;
        b[1] = (byte)0x09;
        b[2] = (byte)0x00;

[2021-09-04 17:52] izimihail commented on #1063
Very nice, thank you for update. Did you push the modifications on any branch ?

[2021-09-04 20:53] ripe909 commented on #1063
I would if we could get a merge back into origin openpnp/openpnp.

[2021-09-06 22:10] doppelgrau opened #1281 "BlindsFeeder: More Z clearance needed before pick, vacuum check can fail"
# Problem Report
## Describe the Issue
When picking large but lightweight parts, the vacuum check before pick can cause the parts to be sucked to the nozzle tip => nozzle free/empty check fails

## Steps to Reproduce
How can a developer reproduce the issue you are experiencing? Use a step by step format like this:
1. Start OpenPnP
2. set up a part that is large but light (in my case a ptc fuse)
3.

[2021-09-06 22:30] doppelgrau commented on #1268
Can be closed on the merge of PR #1272

[2021-09-06 23:11] markmaker commented on #1281
For most feeders, it should do it at Safe Z.

It is called here:
https://github.com/openpnp/openpnp/blob/9f1d11e73dcbb86cda85d7dab9bb33d1493b5e97/src/main/java/org/openpnp/machine/reference/ReferencePnpJobProcessor.java#L621-L625

Before actually moving to the pick location via this
https://github.com/openpnp/openpnp/blob/9f1d11e73dcbb86cda85d7dab9bb33d1493b5e97/src/main/java/org/openpnp/machine/r

[2021-09-06 23:15] doppelgrau commented on #1281
before pick makes sense, if the nozzle is used during the feed operation, makes sure no "stuck parts" remain.
So I see some applications.
Question is, is this a bug in the BlindsFeeder, that it moved there during feed and can/should that be changed or is it "works as designed". (I'd prefer changing that, but would mean some additional travel for all users)

[2021-09-07 07:15] markmaker commented on #1281
@doppelgrau,

For now, we can just add a `moveToSafeZ()` in the test, for those who want it. It may involve extra Z moves, but as a deliberate/optional choice that's ok and for most feeders it will do nothing, as it is at Safe Z already.

First some background:

This is only the case for the push cover, not for the blinds cover, where (at least in a job context, and with the default cover opening

[2021-09-07 17:27] doppelgrau commented on #1281
The "test at safe Z" option sounds like a quick solution.

the general question is a good one, there I do not feel very competent to discus. Too many trade-offs.

[2021-09-09 01:57] ripe909 opened #1282 "RFE: Test Alignment should show resulting size, even if incorrect"
# Feature Request
When using Test Alignment for a part, it should show the resulting recognized part size on the camera output even if it is incorrect for the current part.  Usually I have to set the size allowance to 100% temporarily just to see the size it came up with so I can adjust the part dimensions to match.

## How Will It Look?
The measured part dimensions should maybe show in red text o

[2021-09-09 02:21] tonyluken opened #1283 "Location to store Wiki images for Advanced Camera Calibration"
# Problem Report
## Describe the Issue
This is just a place to store images for advanced camera calibration.

[2021-09-09 02:21] tonyluken commented on #1283
Closing as this isn't a real issue

[2021-09-09 02:28] tonyluken commented on #1283
![AdvanceCameraCalibration_gui_result_diagnostics](https://user-images.githubusercontent.com/50550971/132612213-94668745-cfb1-45fe-bf8c-c35b757cae13.png)

[2021-09-09 15:15] tonyluken commented on #1283
This is the location:
![AdvanceCameraCalibration_gui_result_diagnostics_location](https://user-images.githubusercontent.com/50550971/132712235-74ad0e52-0d8b-41ed-ac77-97880ff884f6.png)
And this is:
![AdvanceCameraCalibration_gui_result_diagnostics_upp](https://user-images.githubusercontent.com/50550971/132713313-180aa5ad-c5c9-445e-bb85-36c7950f95d1.png)

![AdvanceCameraCalibration_gui_result_diagn

[2021-09-09 15:55] markmaker commented on #1281
Added Safe Z move in #1284, any chance you could test this?

It is both in `test` and `develop`.

_Mark

[2021-09-09 20:27] markmaker commented on #1269
Thanks for reporting and testing, @doppelgrau!

[2021-09-09 20:27] markmaker commented on #1269
#1273 is merged into `test`.

[2021-09-09 20:27] #1269 closed

[2021-09-09 20:29] doppelgrau commented on #1281
Not soon, in one and a half week at earliest.

[2021-09-09 20:33] #1268 closed

[2021-09-09 20:33] #1267 closed

[2021-09-09 20:47] markmaker commented on #1269
Actually, it was first merged into `develop`, then `test`.

[2021-09-10 09:20] ghostyu commented on #1274
The problem has been solved.

`
        machine.setEnabled(true);
        machine.execute(function() {
            var job = gui.jobTab.getJob();
            var jobProcessor = machine.getPnpJobProcessor();
            jobProcessor.initialize(job);
            while (jobProcessor.next());
            return true;
        });
`

[2021-09-10 09:21] #1274 closed

[2021-09-13 17:04] markmaker commented on #1199
In the next testing version:

- Start and Exit OpenPnP (so the new `machine.xml` format is written).
- Open your `machine.xml`
- Search for `show-indicator`
- Set to `"false"`
- Save
- Restart OpenPnP

[code]

_Mark

[2021-09-13 17:05] markmaker commented on #1199
Hi @fxframes,

please upgrade and report back, if this switch works for you.

_Mark

[2021-09-13 22:36] jrobgh commented on #1063
How do we get a merge? '82 changed files with 19,100 additions and 1,155 deletions'
https://github.com/openpnp/openpnp/compare/develop...MatSpy:neoden4camera_jna

Do we need to make another branch that picks only the modified machine files and supporting changes
to src/main/java/org/openpnp/machine/neoden4/* then create a PR?

[2021-09-14 00:04] ripe909 commented on #1063
I did a merge across forks, it reduced the merge conflicts, but I don’t know what changes should stay or go.  May need to incrementally review each commit along the way

[2021-09-14 05:28] markmaker commented on #1063
Hi @ripe909, @jrobgh,

please target the `test` branch, not `develop`, we're much ahead there.

Actually, you merge the `test` branch into your branch and then resolve conflicts, but you probably know that 😁

Please take the time and read the merged PR descriptions, since you forked. There might be refactoring in there that you need to (re-) enact in your branch. If I understood your discussions c

[2021-09-14 08:11] fxframes commented on #1199
Hi Mark,

Yes that fixed it. 👍🏻

A side note: after installation of the test version, the installer seems to be “holding on” to something, by that I mean that I can’t eject it like in the main version. The only way to do this was to relaunch Finder and “Force Eject” it after that. OpenPnP seems to be working normally, unaffected by that.

Thanks!

[2021-09-21 01:36] maholli opened #1295 "Request: have bottom vision `max offsets` settable per part (not globally)"
# Feature Request
## Describe the Feature
Rotational and positional precision should be settable for parts (not just global). They're currently called `Max linear offset` and `Max angular offset` as configured in Bottom Vision -> Machine Setup -> Vision -> Bottom Vision.

## Why Do We Need It?
1. This solves the general problem of overly-precise global positioning requirements necessary for fine-p

[2021-09-21 03:02] tonyluken commented on #1295
Why not just turn off pre-rotate on the Bottom Vision -> Machine Setup -> Vision -> Bottom Vision tab and set pre-rotate to "always on" on the individual fine pitch part's ReferenceBottomVision tabs?  Just set all your other parts to "always off".

[2021-09-21 03:45] maholli commented on #1295
That doesn't address the issue. If `Max Linear Offset` is set to sub-0.5mm globally to accurately align a 0.5mm pitch part, the vision system is going to spend copious amounts of time fidgeting with bigger passives (for example) throughout the job.

[2021-09-21 06:58] markmaker commented on #1295
Hi @maholli,

Two remarks:

1. If less precision is needed _"with bigger passives (for example)"_, why align these at all?

2. On my machine, I noticed that alignment now almost always nails the alignment on the _first_ iteration, after two requisites are given:

    a) automatic calibration of the bottom camera [through the new I&S solution (testing version)](https://makr.zone/openpnp-automatic-m

[2021-09-21 14:38] tonyluken commented on #1295
If you set pre-rotate to "always off" on the parts you don't want to align with bottom vision, the vision system won't spend any time fidgeting with them.   Max linear offset and Max angular offset only come into play if you use pre-rotate and they don't really set the precision at which parts get placed - they only control how many attempts (up to the maximum) the vision system will make at doing

[2021-09-21 19:42] #1295 closed

[2021-09-22 05:54] markmaker commented on #1295
Thanks.

FYI, the release notes will be written, once the testing was concluded and the "new goodies" are merged into branch `develop` a.k.a. OpenPnP 2.0.

_Mark

[2021-09-22 21:19] maticjersic commented on #1063
Hi,
do you guys have a chat group or something ? I have a few question about Neoden4. I am deciding to buy one and would be great to hear some feedback.

I apologize upfront for commenting on unrelated topic.

[2021-09-22 23:06] Iangitpers commented on #1063
I wouldn't recommend it.

On Sep 22, 2021, 23:19, at 23:19, maticjersic ***@***.***> wrote:

[2021-09-23 08:08] izimihail commented on #1063
Hello,
I have NeoDen 4 machine from more that 4 years. The machine, mechanically it's OK but the software is not so good, for this reason we change to OpenPNP software.
I would say that if I should buy another one, I will not buy again the NeoDen, the price is too expensive for the overall quality of the machine.
Depending on what you need, maybe is better to start with one compatible OpenPNP. I j

[2021-09-23 15:55] ripe909 commented on #1063
I am split on my opinion.  I suppose it depends from which direction you are coming from.   I chose the NeoDen4 instead of going with a huge, used commercial machine.  This would have a whole host of issues, power, parts, space, support, cost, etc.   The NeoDen was a good alternative to this path for me.  When I bought the machine it was also much cheaper than it is now, especially the import tari

[2021-10-02 20:33] JeremiahGillis commented on #1063
I am glad to see all of this work being done for the NeoDen4. I would like to switch away from the stock software as it is clunky and has some bugs. I reported the bugs to NeoDen but I don't think any were addressed. The NeoDen4 has been out on the market for awhile now so I don't see NeoDen investing more time into the software. Their newer PnP machines look like the software has improved somewha

[2021-10-03 18:17] jrobgh commented on #1063
I found homing, feeders, cameras, lights, vacuum/blow, fiducial detection, head/nozzle motion all working well enough for me to run an 0402 assembly with the stock motor drivers.. though it can easily take a week to get familiar with the Openpnp software & calibrate the machine.. let's summarize notes to simplify the [setup process for Nedoen4](https://github.com/openpnp/openpnp/wiki/Neoden4-Getti

[2021-10-04 06:58] mateusz-spychala commented on #1063
Hello Jeremiah,

You can also make you familiar with openpnp without physical machine. You can run openpnp demo virtual machine and try most of features.

In Neoden4 all features works without vibration feeder and rails, which probably can be easily implemented.

[2021-10-04 07:00] MatSpy commented on #1063
Hello Jeremiah,

You can also make you familiar with openpnp without physical machine. You can run openpnp demo virtual machine and try most of features.

In Neoden4 all features works without vibration feeder and rails, which probably can be easily implemented.

[2021-10-04 16:28] JeremiahGillis commented on #1063
@jrobgh @MatSpy,

Thanks for the information. I found this via EEVblog. I think a Discord channel would be great to keep these GitHub issues clean and on topic. I have asked in the #general channel to see if we can get a specific channel added. For now I will check out the OpenPnP demo.

It looks like @ripe909 has already done some work on the vibration feeder. Maybe I can work on the rails at som

[2021-10-05 15:41] Shaische opened #1304 "[FEATURE REQUEST] Detect circle center icon"
# Feature Request
## Describe the Feature
In the same fashion as you can click capture camera location, it would benefit to have a "detect circle/fiducial center". Once clicked, it will move the camera over the center of the visible circle.

## How Will It Look?
This should be an icon that is present anywhere there is a "capture camera location" icon , to the left of it. It could look like this: !

[2021-10-05 18:15] ripe909 commented on #1063
We now have a dedicated NeoDen channel on the Discord server!

[2021-10-06 15:56] Shaische opened #1305 "MacOSX Highlighted Tab Issue"
# Problem Report
## Describe the Issue
On Mac OSX, when the tab is selected, it's not properly highlighted. The text is whited out. This happens both on iMac MacOS Big Sur 11.5.2 and MacBook Pro Big Sur.

## Steps to Reproduce
Use OpenPNP on any system running macOS Big Sur

## Expected Result
Text to be black instead of white.

## Actual Result
Text is White.

## Notes, Log Files, Screen Captures

[2021-10-07 01:50] Shaische opened #1306 "Issues and solution tab appears twice on MacOSX"
# Problem Report
## Describe the Issue
Mac OS Big Sur 11.2.2 with a fresh install of OpenPNP and fresh install of Machine.XML has tab issue where issues/solution tab appears twice. But clicking the last tab is still pointing to the log window as it should. Just the tab is not right. Sometimes when starting up OpenPNP this doesn't happen, but sometimes it does. It's random. This happened on a previ

[2021-10-07 01:59] Shaische commented on #1306
Just noticed this is happening when you also click the button "Find Issues/Solutions

<img width="253" alt="screenshot_404" src="https://user-images.githubusercontent.com/2673147/136308512-24ee6cc0-cb2e-40c7-a56a-6f0e95de1ada.png">
"

[2021-10-07 06:55] markmaker commented on #1306
see here:

https://github.com/openpnp/openpnp/pull/1151#issuecomment-937507609
<https://github.com/openpnp/openpnp/pull/1151#issuecomment-937507609>

Am 07.10.2021 um 04:00 schrieb Shai:

[2021-10-07 07:44] markmaker commented on #1235
@Jnesselr,

Frankly, I have never investigated communications, so I'm a bit out of my depth here.

I'm astonished, why there is a timeout configured at all.

https://github.com/openpnp/openpnp/blob/b040a09c6239a55ed5e781093000a2236f19b2f7/src/main/java/org/openpnp/machine/reference/driver/SerialPortCommunications.java#L112-L113

The reader is threaded, so as far as I understand it, the right thing

[2021-10-08 20:42] Shaische commented on #1306
I searched for "show-indicator" and there is no text in my machine.xml even with just indicator. Seems this workaround is outdated?

[2021-10-11 17:03] #966 closed

[2021-10-11 17:13] markmaker commented on #1228
Thanks, @tonyluken.

The fact that CheckStyle _has never actually_ reported illegal [snake_case](https://en.wikipedia.org/wiki/Snake_case) is discussed [here](https://github.com/openpnp/openpnp/pull/1275#issuecomment-912935929). I was mistaken to assume it was broken. Snake case cannot be excluded due to WindowBuilder generating it.

So we can close this.

_Mark

[2021-10-11 17:15] #1160 closed

[2021-10-14 02:43] Shaische opened #1314 "[FEATURE REQUEST] Up/Down Camera Name Recognition"
# Feature Request
## Describe the Feature
Have OpenPNP automatically recognize and select an Upward and Downward looking camera by name, for Device selection if found.

## How Will It Look?
Manufacturer will name the camera. Should be one word such as Upward or Downward without spaces and not be case sensitive. For backup option, possibly have an input text field in OpenPNP to determine exact name

[2021-10-14 22:02] vonnieda commented on #1314
All: I think this is actually not a problem if the cameras have unique names. Does anyone have cameras in hand that have unique names that can test?

The root issue here is that we have been unable to get cameras with unique names or serial numbers. openpnp-capture does look at these properties, but since all the cameras on the market use the same name (per model) and no serial number there is not

[2021-11-10 11:24] neliooliveira opened #1325 "Panel options window not showing OK and Cancel buttons in Linux"
# Problem Report
## Describe the Issue

Panel options window not showing OK and Cancel buttons in Linux.
The buttons are there because I can still select them using TAB.
It's probably just the size of the window that is not high enough to fit all the elements in the Linux theme.

## Steps to Reproduce

Open the panel options in a Linux machine.

## Expected Result
Buttons to be visible

## Actual

[2021-11-10 11:30] neliooliveira opened #1326 "Two different fiducials per panel"
# Feature Request
## Describe the Feature
The panel options window should have the option to select different fiducials and not just one for both locations.
It would also be awesome to have a way to move the machine to the fiducials location just to confirm their position.

## How Will It Look?
The panel option window will show a second dropdown to select the part for the second fiducial.

## Why

[2021-11-19 01:31] Savvy97 opened #1330 "PnP software jogs and sends signals but no movement"
# Read This First
To submit an issue for OpenPnP you must use this template or it will be deleted. Please fill out either the Problem Report or Feature Request section below and delete the other section.

-----------------------------------------------------------------------

# Problem Report
No movement - Have tried multiple Smoothie boards.
## Describe the Issue
I have a Liteplacer PnP running

[2021-11-19 07:56] markmaker commented on #1330
Hi @Savvy97

Please report usage problem in the _discussion group_, not here with Github Issues.

http://groups.google.com/group/openpnp

Github Issues are for _confirmed_ bugs or feature requests related to OpenPnP.

When you open a discussion, please add the log. Set your logging level to TRACE on the Log tab. Then try moving around a bit, then send the full log.

https://github.com/openpnp/open

[2021-11-19 07:56] #1330 closed

[2021-11-21 21:29] tonyluken opened #1333 "Storage for Non-Squareness Correction Algorithm Paper"
This is not an actual issue.  Just need some place to store the documentation.
[NonSquarenessCorrection.pdf](https://github.com/openpnp/openpnp/files/7577154/NonSquarenessCorrection.pdf)

[2021-11-21 21:29] tonyluken commented on #1333
Closing because this is not a real issue.

[2021-11-21 21:29] #1333 closed

[2021-12-01 23:58] FlashPackets opened #1341 "Failure to connect produces Java exception"
# Problem Report
The system consists of two Linux machines one running openpnp the other Linuxcnc.

Two cameras are making nice images in their respective windows.

    Notes, log files, screen captures, videos, etc. to show the problem.
    Steps to reproduce.
A telnet to 192.168.0.167:5007 is successful in controlling the CNC. The attached log from a fresh start shows that the first attempt at c

[2021-12-02 08:33] markmaker commented on #1341
Hi @FlashPackets

Note, the comments in G-code COMMANDs, delimited by semicolon, are a feature of the standard G-code syntax, not of OpenPnP. Normally these comments are sent as-is to the controller, that ignores them. There is an option on the Driver to strip them off, but purely as an optimization.

However, unlike the COMMANDs, the REGEX need to be verbatim, i.e. they must **not** contain a sem

[2021-12-02 16:40] FlashPackets commented on #1341
With the COMMAND_CONFIRM_REGEX  as  ACK|.*   gave
2021-12-02 08:32:59.750 GcodeDriver DEBUG: [tcp://192.168.0.167:5007] >> hello EMC x 1.1, 1000
2021-12-02 08:32:59.751 GcodeDriver$ReaderThread TRACE: [tcp://192.168.0.167:5007] << HELLO ACK EMCNETSVR 1.1
2021-12-02 08:32:59.751 GcodeDriver TRACE: [tcp://192.168.0.167:5007] confirmed hello EMC x 1.1
2021-12-02 08:32:59.751 MessageBoxes DEBUG: Enabl

[2021-12-02 17:58] FlashPackets commented on #1341
The problem might be solved by placing an "Interposer" between the two machines. This could be done by changing the port number of the LinuxCNC from 5007 to lets say 5077. Another Telnet listener at port 5077 **translates** the responses of one to the other so it listens for ACK on port 5007 and sends it on to port 5077 as ok.
This program must certainly exist. I wonder what it is called?
For this

[2021-12-02 18:11] markmaker commented on #1341
No, you just need to get the REGEX right.

I'm no REGEX expert myself, but there are online REGEX explorers, where you can test your responses against them.

As I guess, try this for COMMAND_CONFIRM_REGEX:

`.*ACK.*`

And this for the COMMAND_ERROR_REGEX:

`.*NAK.*`

_Mark

[2021-12-03 02:46] FlashPackets commented on #1341
2 down 16 to go:)

[2021-12-03 03:21] FlashPackets commented on #1341
It didn't take long to discover that not all commands issue a response, thus generating a timeout error. How does one do a REGEX on nothing?

[2021-12-03 04:11] FlashPackets commented on #1341
Looking further I see that in fact the line was echoed.

[2021-12-03 19:18] noeldum opened #1342 "'Step by Step' button must behave for operation (not debugging)"
# Problem Report
## Describe the Issue
'Step by Step' button seems to be more a debugging function than an actual operational action.
Other proprietary pnp that I used have a step by step operation that trigger a move after each click on the button. In the current state Openpnp seems to trigger not only physical steps but also some internal functionality. Leaving some blank clicks between each phy

[2021-12-04 18:58] jrobgh opened #1344 "[Feature Request][Neoden4][FeederActuator] Add support to change Feeder IDs"
# Feature Request
## Describe the Feature
Enable driver support and GUI element to allow changing the Neoden4 Feeder ID. Each feeder internally stores an ID for the machine to address it (typically 1-50, new feeders ship default to 50).

## How Will It Look?
1. Neoden4Driver would add changeFeederId(int oldId, int newId), and changeFeederIdInternal
2. ND4FeederActuatorWizard would add two GUI drop

[2021-12-05 23:12] FlashPackets commented on #1341
Suddenly my day improved with the following... including the ability to move the gantry left, forward and back. The following is for a Linux system running LinuxCNC. Those commands that are not listed have not as yet been modified.
^.*ACK.*.EMCTOO.*                                     COMMAND_CONFIRM_REGX

.*NAK.*                                                          COMMAND_ERROR_REGEX

hello

[2021-12-06 07:42] markmaker commented on #1341
Strange. I thought LinuxCNC was a true G-code interpreter.

[2021-12-09 18:58] FlashPackets commented on #1341
In order to remotely connect to LinuxCNC it is necessary to use linuxcncrsh, a remote shell. So while the local host is a true AFAIK G-code interpreter, it is necessary to use an intermediary command language/interface (MDI) that sends commands to the HALCMD that runs in the background. I don't run openpnp on the  CNC machine as it is a very old and slow motherboard that still has the parallel pri

[2021-12-10 08:22] markmaker commented on #1341
Are you sure there is no other way?

I'm quite sure, there's tons of software out that expects to be able to speak with LinuxCNC in plain G-code, over a plain socket.

_Mark

[2021-12-10 15:30] FlashPackets commented on #1341
I'll take two pounds please. Having more than one solution to my problem would certainly be helpful. I know for instance that Machinekit may offer a path to joy. Behind the curtain of Linuxcnc there is a program called halcmd that runs as a os service. The nameless "tons of software" would no doubt make use of that. However, I've boards to build, and precious little time to spend searching for hyp

[2021-12-12 13:45] elfring opened #1346 "Increase the usage of compound assignment operators"
# Feature Request
## Describe the Feature
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of compound operators](https://docs.oracle.com/javase/specs/jls/se17/html/jls-15.html#jls-15.26 "Description for assignment operators") accordingly.

## Why Do We Need It?
Adjusted software run time cha

[2021-12-30 16:07] markmaker commented on #843
The most important steps towards this are in the Pull Request #1318.

[2022-01-03 13:56] sovcharenko opened #1354 "Dead lock during part pickup"
# Problem Report
## Describe the Issue

Was playing with openpnp and got a deadlock when it was picking up a part.

![IMG_0051](https://user-images.githubusercontent.com/1329094/147938402-ae5502f7-d58b-4667-ab35-6eb9b5dfc022.png)

Neither valve nor pump triggered.

Luckily i was running openpnp from IDE and managed to capture thread dump:

[threads_report.txt](https://github.com/openpnp/openpnp/fi

[2022-01-03 15:42] markmaker commented on #1354
Are you sure?

I'm no expert in Java concurrency, with that in mind, it this does not (yet) look like a dead-lock to me.

## Consumer

[code]

## Producer

"Thread-12@5090" daemon prio=6 tid=0x23 nid=NA runnable
  java.lang.Thread.State: RUNNABLE
	  at java.net.SocketInputStream.socketRead0(SocketInputStream.java:-1)
	  at java.net.SocketInputStream.socketRead(SocketInputStream.java:116)
	  at jav

[2022-01-11 22:24] JeremiahGillis opened #1357 "Job Placements not displaying for Bottom Side"
# Problem Report
## Describe the Issue
Any placement item with Side set to Bottom does not display in the GUI. The placements do exist in the XML file.

## Steps to Reproduce
1. Checkout the latest test branch, commit ID 9ca550c57b6f54dd26506857f3e3f2aafd18240f
2. Start OpenPnP
2. Add existing board to default job, select `pnp-test.board.xml` included with OpenPnP.

## Expected Result
Both the Top

[2022-01-11 23:03] JeremiahGillis commented on #1357
It looks like there is no bug here. I was thrown off by the behavior of the dropdown along with forgetting about setting the side in the board section. Looks like I cannot delete this.

Maybe the intention was to keep the placement on the displayed side when using the dropdown to change sides. It is different behavior from the context menu.

[2022-01-12 07:11] #1357 closed

[2022-01-14 08:23] JoaquimBoavida commented on #1063
Hi Mat,

Can you please share the 3D design of the part for the feeder?
Thank you

![image](https://user-images.githubusercontent.com/68651264/149475191-80042bc9-08e5-41db-b5b4-05f59296419e.png)

Joaquim

[2022-01-19 23:01] ian-arkver opened #1361 "RFC: Fixes for recent JDK support (eg JDK 17)"
# Feature Request / Request for Comment
## Update dependencies and other fixes to allow OpenPnP to run with a recent Java VM.

I didn't find an online list, or any open Issues describing the current blockers for running with a more recent JDK,
so thought I'd create this as a place to collect the information and discussion.

Currently OpenPnP requires an old, insecure JDK version to work properly d

[2022-01-20 09:18] ian-arkver commented on #1361
Thanks Mark, understood. Me neither. However if we have a place where we can collate what's broken then those with some coding time and the necessary knowhow will have a place to start.

I don't know whether it's just a matter of a few missing accessors or an explicit serialiser/deserialiser for some data type or whether something more fundamental will break like maybe "beans bindings won't work a

[2022-01-20 16:25] ian-arkver commented on #1361
Thanks Jason, I'll see what I can do.

[2022-01-20 20:28] ian-arkver commented on #1361
Interestingly there's already a custom serialiser in the code for awt.Color, eg. in CvStage/DrawCircles:

[code]

And this ColorConverter class uses getRed etc. as the example code I linked to does, so we end up with

[code]

So either the `@Convert` attribute isn't working, or there are some Color class members that don't have it.

[2022-01-20 23:11] ian-arkver commented on #1361
The only Color I could see that might end up in XML that didn't have the `@Convert` was the Issue class in Solutions.java. I added it but the tests still failed in the same way (failure to write machine.xml). Maybe there's another one.

I fired the UI up under the debugger in VSCode and it works since VSCode uses the JDK that's specified in the pom.xml for the maven compiler plugin. This was set t

[2022-01-20 23:54] ian-arkver commented on #1361
I commented out the test serialization before the machine.xml file write so we get the partially written file before the exception is thrown.

Comparing [the Java 17 version](https://github.com/openpnp/openpnp/files/7909150/machine.xml.txt) with [the Java 8 version](https://github.com/openpnp/openpnp/files/7909196/machine.xml.txt) we can see that the next element to be written would have been:

[c

[2022-01-21 09:36] ian-arkver opened #1363 "Java17: Simple XML serializer ignores converter annotations under Java 17"
I commented out the test serialization before the machine.xml file write so we get the partially written file before the exception is thrown.

Comparing [the Java 17 version](https://github.com/openpnp/openpnp/files/7909150/machine.xml.txt) with [the Java 8 version](https://github.com/openpnp/openpnp/files/7909196/machine.xml.txt) we can see that the next element to be written would have been:

[c

[2022-01-21 09:40] ian-arkver commented on #1363
Running BasicJobTest under VSCode debugger with a breakpoint in the ColorConverter code. The breakpoint is hit under JDK 1.8, but not hit under JDK 17 resulting in an illegal reflective access to the Color object.

![image](https://user-images.githubusercontent.com/17830580/150503346-f4b52160-7bd4-47b0-bb14-3a815ac770f3.png)

The version of simpleframework.xml used is 2.7.1 which is the latest but

[2022-01-26 18:48] PNPls opened #1369 "Homing Fails"
# Problem Report
I have a PNP machine that was working for a while but is now not wanting finish homing for some reason. Essentially it will home itself to 0 on all Axes and then it times out before it makes the move to the homing fiducial. The error it gives me when it times out is the "GcodeAsyncDriver timeout waiting for response to M114; get position". It is saying in the issues and solutions

[2022-01-26 19:02] #1369 closed

[2022-01-26 21:07] PNPls commented on #1369
Thank you,
The board I was trying to use was using a different firmware than I needed after all. Glad it was a clear case. I am using a Liteplacer machine with Openpnpversion2; Firmware version is now 5-axis 'feature/best-for-pnp-23a1f0db' and I can now get the machine to home. This newer board seems to have issues with getting the firmware flashed even though I followed the beautiful guide you ga

[2022-01-27 09:01] markmaker commented on #1369
What newer board?

@arthurwolf , any changes in the v1 Smoothieboards?

@PNPls, are you using a China clone? I guess you've seen the **WARNING**, right?

https://github.com/openpnp/openpnp/wiki/Motion-Controller-Firmwares#smoothieware

_Mark

[2022-01-27 09:04] arthurwolf commented on #1369
No changes.

Issues with flashing are often users having downloaded a html file pointing
to the .bin file instead of the actual .bin file. Check the file's contents.

Also, users should make sure they use the very latest example config file
with the very latest bin file. No mix-and-matching.

On Thu, Jan 27, 2022 at 10:02 AM markmaker ***@***.***> wrote:

--

勇気とユーモア

[2022-01-29 22:27] vonnieda commented on #1361
I'm re-reading through this and the other related tickets and one thing occoured to me: We do already support Java up to 15. We're not limited to 8. The only reason we ship the installers with 8 is because I've been lazy about updating those. We could update them to Java 15 today with no changes.

You can see the list of versions officially supported here: https://github.com/openpnp/openpnp/blob/d

[2022-01-31 10:46] ian-arkver commented on #1361
Defaulting to 15 in the pom and installer would be an improvement in my opinion, assuming that 15 is a more up-to-date and secure JRE than 8. I'm not sure whether this would break upgrades for people with only JRE 8 installed. I don't use the installers though so maybe they sidestep this problem for most people.

Note also [comments by Niclas here](https://groups.google.com/g/openpnp/c/hWMge4jOfrk

[2022-02-02 22:02] bacrua opened #1374 "Feeder Auto Setup help"
Installed the latest version.
1. select a strip feeder.
2. point the camera at the selected feeder.
3 Click on the "Auto Setup" button
Gives an error message. In version # 2021-05-03 everything works.
![error](https://user-images.githubusercontent.com/48532007/152245510-20cc9b74-9c8a-42f4-97f1-db47fb1ff917.jpg)

[2022-02-03 07:01] markmaker commented on #1374
Hi @bacrua,

Please use the discussion group for seeking support, Github Issues should only be opened once a bug (or missing feature) is confirmed:
http://groups.google.com/group/openpnp

Also, with such errors you need to attach a log and possibly a `machine.xml`.
https://github.com/openpnp/openpnp/wiki/FAQ#where-are-configuration-and-log-files-located

If I were to guess, you are using scripts f

[2022-02-03 07:01] #1374 closed

[2022-02-03 10:24] #1029 closed

[2022-02-03 10:33] markmaker commented on #1354
Any feed-back?

As far as I can tell, documentation in this Issue not support the claim (to be a deadlock), so I will close this, if no further info is provided.

_Mark

[2022-02-03 10:34] markmaker commented on #1344
I guess this is solved by #1345

[2022-02-03 10:34] #1344 closed

[2022-02-03 10:47] markmaker commented on #1341
Am I right to assume this is resolved with [your comment here](https://github.com/openpnp/openpnp/issues/1341#issuecomment-986319188)?

_Mark

[2022-02-03 10:49] markmaker commented on #1306
`test` was merged in #1322.

[2022-02-03 10:49] #1306 closed

[2022-02-03 10:52] markmaker commented on #1305
See the [workaround](https://github.com/openpnp/openpnp/issues/1199#issuecomment-918392848). Merged into develop in #1322. I assume this solves it too, otherwise please reopen.

_Mark

[2022-02-03 10:52] #1305 closed

[2022-02-03 10:53] #1254 closed

[2022-02-03 10:55] markmaker commented on #1235
Hi @ian-arkver

I tried to understand and find a way but failed. Could you please make a PR?

_Mark

[2022-02-03 10:57] ian-arkver commented on #1235
Sure, I can take a look at it, but can't test it easily as I use TCP comms.

[2022-02-03 13:19] markmaker commented on #306
Implemented by #1297 and #1335.

[2022-02-03 13:19] #306 closed

[2022-02-03 13:44] markmaker commented on #392
There seems to be multiple aspects to this:

1. Some CPU load seems _not_ related to OpenPnP at all, but to the operating system and device driver stacks (at least on Windows).  This is easy to misjudge, because CPU load is related to lighting and exposure settings, so improving your lighting might lead to more CPU load. This can now be tested with the Test button of #1053. I have documented the p

[2022-02-03 13:44] #392 closed

[2022-02-03 13:47] #419 closed

[2022-02-03 13:58] markmaker commented on #481
@dzach I guess this is no longer blocked ;-)

[2022-02-03 14:02] markmaker commented on #760
I'm closing this for the same reasons I described in #392.

[2022-02-03 14:02] #760 closed

[2022-02-03 14:24] markmaker commented on #685
This is all implemented:

1. Recently exposed on the GUI in #1334.
2. The variables with added `F` do exactly that, so` {XF}` would be issued even if the X coordinate is unchanged, [see in the Wiki](https://github.com/openpnp/openpnp/wiki/GcodeDriver%3A-Command-Reference#move_to_command).
3. There are many flow control options now, including `MOVE_TO_COMPLETE_REGEX`.

Closing this.

_Mark

[2022-02-03 14:30] markmaker commented on #811
There is `mvn test` integrated into the Github Action. If the test suite fails, there is no deployment of a new version, i.e. it will not appear on the [download page](https://openpnp.org/downloads/), nor will it be offered as a new version in existing OpenPnP installations.

Other than that, I don't see how "breaking changes" would be detected automatically.

Closing this.

_Mark

[2022-02-03 14:34] markmaker commented on #813
@tonyluken,

could you please look at this and tell me what you already implemented? So we can possibly close it?

Thanks!

_Mark

[2022-02-03 14:41] markmaker commented on #1109
As @doppelgrau correctly said, that's expected behavior.
_Mark

[2022-02-03 14:41] #1109 closed

[2022-02-03 14:44] #1235 closed

[2022-02-03 17:27] tonyluken commented on #813
I believe when I added support for more than three fiducials I also covered the two fiducial case as well so I think this is complete.

I think the solution is just to apply the steps in reverse.

I believe @vonnieda fixed that here [5efa1b0](https://github.com/openpnp/openpnp/commit/5efa1b0c16f6931b43d457aa6004565e9446886e)

I think that may still be open.

[2022-02-03 17:33] tonyluken commented on #481
I believe this functionality is available in [HistogramEqualizeAdaptive](https://github.com/openpnp/openpnp/blob/develop/src/main/java/org/openpnp/vision/pipeline/stages/HistogramEqualizeAdaptive.java).  Recommend closing this issue

[2022-02-03 18:45] #1354 closed

[2022-03-13 13:19] jellewie opened #1388 "Importing example CSV even gives error"
# Problem Report
## Describe the Issue
So I want to [import EASYEDA file](https://pastebin.com/PpmSMP1A), but the format was wrong so I was writing a small script to convert them. But I run into the issue that my new clean install of opening doesn't allow even [the example SCV file](https://pastebin.com/hXqMqqQA).

When importing the example SCV it complaints it can't find the relevant headers
![i

[2022-03-13 13:23] jellewie commented on #1388
Sitenote, this error message also has bugs,
1. The `<BR>` should be a line enter
2. and there should be an "info." at the end. how it states "see here for more" which is weird.

Another sidenote, if openPNP uses windows settings somewhere, here is my local format
![image](https://user-images.githubusercontent.com/1545223/158061344-7fe66f69-c0ae-4abb-9724-eb152847f2d7.png)

[2022-03-13 14:04] jellewie commented on #1388
So after a search, I've found what is the problem, the log TRACE is
![image](https://user-images.githubusercontent.com/1545223/158063165-bf2cd823-ed01-420f-967a-12ce6b156138.png)

the `ÿþ` (0xfffe in UTF-8) has been added as a prefix to the file to display the byte order mark in UTF-16.

I guess the best option would be that OpenPNP can accommodate for this, but I leave that to you.

[2022-03-15 20:03] ma-lalonde opened #1389 "[FEATURE REQUEST] Add "Vision Retry Count" setting to feeders"
# Feature Request
## Describe the Feature
Add a "Vision Retry Count" setting to the feeders, just like there are already "Feed Retry Count" and "Pick Retry Count" settings available on the ReferencePushPullFeeder

## How Will It Look?
Exactly like the previously mentioned settings: a label and a numbers-only text box in the feeder's configuration. This would allow OpenPnP to retry OCR or sprocket

[2022-03-17 15:13] chris1howell opened #1392 "Board load failed multiple points"
# Problem Report
## Describe the Issue
Eagle files will not load, including the Demo Board v1.brd file. Board load failed error multiple points.

## Steps to Reproduce
How can a developer reproduce the issue you are experiencing? Use a step by step format like this:
1. Start OpenPnP
2. Click the + Icon in Boards section of the Jobs tab
3. Select Existing
4. Navigate to the samples folder and selec

[2022-04-07 17:05] markmaker commented on #1389
Hi @ma-lalonde

In my experience if have almost never seen it that simply repeating the vision operation would help.

If you see such behavior, you should check the following:

- Good, strong, diffuse lighting: the only context where I think a camera delivers significantly unstable images is when it does not have enough consistent light, i.e. where the ambient and changing light, or even strong se

[2022-04-07 17:08] ma-lalonde commented on #1389
Yes, we discussed this in the group and came to the conclusions you mention. I forgot to update / close this issue. Thanks for the follow-up.

[2022-04-07 17:08] #1389 closed

[2022-04-08 15:17] ian-arkver commented on #1361
Recent discussion in the group...
https://groups.google.com/g/openpnp/c/2cUIHXxVpXQ
(Thanks "tmasti..." whoever you are)

This brought to my attention --add-opens java commandline flag which can be used to open up the private internals of selected modules, thereby defeating the illegal reflective access restrictions.

If you add the following two flags:
`--add-opens java.base/java.lang=ALL-UNNAMED

[2022-04-08 15:35] ian-arkver commented on #1361
I think the --add-opens option was added in Java 9, so we can't add it for the default packaged Java 8. We'd need to change the target version in the pom, the bundled JRE version in the installers and probably the launch scripts - all at the same time.

I'm also not sure how this would work with the installer and upgrading from a previous bundled JRE. I'd hope Install4j would handle it.

[2022-04-08 15:42] vonnieda commented on #1361
The installer launches it directly, and you can specify additional command line arguments to it, so we can change it there eventually too, if we need to. But for now we could just leave the bundled version at JVM 8 and we don't need to worry about it.

In other words, I'd focus on addressing specifically the users that are having the issue, and not worry about the ones who aren't. The people using

[2022-04-08 15:50] ian-arkver commented on #1361
ok, well maybe a 2 phase approach then?

- Update the pom maven-compiler target and the test runner args and the sh and bat scripts and try it out on "testing" to see what else is broken
- Switch the bundled JRE in the prebuilt packages once the dust has settled

I'll do a PR for the first phase shortly.

[2022-04-08 16:28] ian-arkver commented on #1361
See #1398 though it clearly needs some more work.

I'm unsure how the GH actions set up their JRE's. Perhaps there should only be one Java 17 one? Did this only work in the past because the target was lower than all the tested JRE versions?

[2022-04-16 05:26] brainstorm commented on #916
See https://github.com/openpnp/openpnp-capture/pull/47#issuecomment-1100576011 for progress updates ;)

[2022-04-25 03:07] jrobgh commented on #1063
curious if automatic nozzle changing can be possible, has anybody looked into it? are the nozzle motors on the head capable of the right motions?

https://www.youtube.com/watch?v=KRR3bC9j_3s

[2022-04-25 07:11] MatSpy commented on #1063
Yes. Indeed it is possible. Here is example.
https://www.youtube.com/watch?v=eBt2GS_-_YY
I have not found STL files for this holder.

[2022-04-29 20:43] FLYBYME opened #1407 "Program fails to start"
[OpenPnP.log](https://github.com/openpnp/openpnp/files/8594612/OpenPnP.log)
# Problem Report
## Describe the Issue
I keep getting this error. I delete the folder and it makes no difference.

## Steps to Reproduce
Fresh install of windows 10 with version "2022-02-03_09-01-37.370b98b" also tried "2020-12-31_20-40-49.5524445"

## Provide Examples

![pnp-error](https://user-images.githubusercontent.co

[2022-04-30 07:17] markmaker commented on #1341
Seems defunct.

[2022-04-30 07:17] #1341 closed

[2022-04-30 07:27] markmaker commented on #1407
Can this help?
https://groups.google.com/g/openpnp/c/sW4Btj0zXU0/m/Le-_8TLeAwAJ
_Mark

[2022-05-05 16:02] FLYBYME commented on #1407
I tried install the requested file (Windows6.1-KB2670838-x64.msu) but its for windows 7 not 10

[2022-05-05 16:10] markmaker commented on #1407
Maybe ask the same question on the user group:

http://groups.google.com/group/openpnp

_Mark

[2022-05-15 07:10] zgulkhan opened #1411 "Good day All, I wrote a P&P application for driving a machine which works great, its take BOM eagle file extract axis of component, everything is going well I tested it on real pcb, due to lack of image processing knowledge I didn't add vision system in it... Please help me how can I do that is there any vision system I can add it as add on.. regards"
# Read This First
Issues must only be opened once they are confirmed.
Please [visit the discussion group](https://groups.google.com/group/openpnp) first, so bugs or missing features can be separated from other problems.

To submit an issue for OpenPnP you must use this template or it will be deleted. Please fill out either the Problem Report or Feature Request section below and delete the other se

[2022-05-15 08:29] markmaker commented on #1411
Hi @zgulkhan,

I don't think this is an "issue" of OpenPnP. Please discuss it in the [discussion group](https://groups.google.com/group/openpnp).

_Mark

[2022-05-15 08:29] #1411 closed

[2022-05-15 08:30] #1407 closed

[2022-05-15 08:36] markmaker commented on #1392
The + button is for adding jobs that already have been converted to the native XML file format of OpenPnP.

For Eagle and others, use the **File / Import Board** commands instead.

![image](https://user-images.githubusercontent.com/9963310/168464201-8b323e75-6dcd-49d6-88e6-94b12eee3b2f.png)

For further such help, please use the [discussion group](https://groups.google.com/group/openpnp).

_Mark

[2022-05-15 08:36] #1392 closed

[2022-05-15 08:44] markmaker commented on #1346
Not sure I understand this.

If it is what I think it is, then please provide a PR if you like. Anyway, I'm sure JIT will optimize these.

_Mark

[2022-05-15 08:53] markmaker commented on #1342
Due to the architecture (machine task threading model) it is not possible to add this as an afterthought. Machine tasks cannot communicate with the GUI and be blocked by it. At least that is my state of knowledge.

Furthermore, I disagree, that only machine motion is worthy of a step. There are actuator actions, vision operations etc.

_Mark

[2022-05-15 08:57] #1314 closed

[2022-05-15 09:46] noeldum commented on #1342
If you agree or disagree makes no difference to one fact. Manufacturers do offer proper step-by-step motion. I invite you to try a Charmhigh machine with stock firmware.
Probably some steps includes packs of motion together but i am only presenting things from the perspective of the operator. So whatever technical explanation goes for or against this feature. Openpnp does not deliver a basic funct

[2022-05-15 10:12] markmaker commented on #1342
Hey @noeldum,

this is Open Source software provided free of charge. You are welcome to add this feature. I will gladly accept a PR if you pull it off while respecting the architecture.

And no, the comparison with a missing reverse gear is not adequate. The stepping function in OpenPnP is just modeled after the semantic steps rather than after arbitrary machine motion segments. Hundreds of users

[2022-05-15 11:03] elfring commented on #1346
:crystal_ball: Can any clarification help to improve the understanding for the presented source code transformation approach?

[2022-05-15 18:09] markmaker commented on #1346
I guess. Be more verbous.

[2022-05-15 19:26] noeldum commented on #1342
The suggestion is not to remove of modify anything but rather add an extra feature existing on commercial machines.
I just found this video that shows exactly the functionality that hopefully Openpnp will match one day. Start from 14:13.

https://youtu.be/Y-LPYxpTh9U?t=853

(obviously yes a missing reverse gear is different to this problem. This was an allegory to give an equivalent on how I perce

[2022-05-16 04:16] Shaische opened #1413 "[FEATURE REQUEST] Automatically link Rapid Feeder to parts list"
# Feature Request
## Describe the Feature
Ability to link a Rapid Feeder to a part in OpenPNP before it is mounted to a machine.

## How Will It Look?
1. A user would need a barcode/QR scanner connected to the PC running OpenPNP.
2. You select the part from the parts list tab simply by highlighting it and click a "scan QR" icon (scan QR icon can be located near pick icon on top).
3. Openpnp automa

[2022-05-16 07:12] markmaker commented on #1413
Hi Shai,

For my understanding: Are you saying the feeder QR label does not contain the part information? Is it just a neutral serial number that is only associated in OpenPnP?

If yes: Is this at all practical? I mean once you have a cupboard full of stored feeders, how do you find the right one?

Would it not be much better to include the part info on a label sticker? Each smart-phone can nowada

[2022-05-16 07:31] Shaische commented on #1413
The QR is just a UUID that is the feeder's unique address. The current function in Openpnp for rapid feeders just scans across an axis for any QRs and captures feeder addresses and positions and adds it to OpenPNP. Watch Jason's video here: https://www.youtube.com/watch?v=VlpsAToBvS0&feature=emb_title

Is my feature request practical you ask? Yes it is because the data is stored in OpenPNP only. N

[2022-05-16 07:47] Shaische commented on #1413
My personal favorite way to do this would be **proposal 3** I outlined in my first post. Just one click and you can quickly sync all the parts to the feeders. It would save users lots of setup time.

[2022-05-16 09:08] markmaker commented on #1413
OK. As a practical solution: just create the RapidFeeder in OpenPnP, assign the part, then enter the Name edit, and use one of these handheld scanners in keyboard emulation mode (HID emulation) to enter the UUID.

Can also be used in the search box to look up a feeder, e.g. for the case I described, where you take a feeder from the cupboard and want to know what part is loaded.

Yes, but Reference

[2022-05-17 01:41] Shaische commented on #1413
Hi Mark,

I get that you are thinking about all the user errors that can happen but I think these problems can be applied to any feeder like the 0816 feeder for example since it's just a generic feeder, right? I don't see how adding a scan function to automatically link parts to a feeder's address makes it more prone to user error.

All this feature is doing, is replacing the requirement for a use

[2022-05-17 05:02] Shaische opened #1415 "Issues and Solutions tab repeats twice"
# Problem Report
## Describe the Issue
Pretty sure this issue was submitted before but cannot find it. This is a UI bug. The issues and solutions tab is repeated twice where it should say "Log" in the tab instead. This is on a fresh install of latest stable OpenPNP with a clean machine.xml file. See attached image.

On a (related?) note, any highlighted/selected tab is whited out and becomes hard

[2022-05-17 09:05] markmaker commented on #1415
Duplicate of #1199.

Seems to be a bug in the MacOS theming.

A workaround is here:
https://github.com/openpnp/openpnp/issues/1199#issuecomment-918392848

_Mark

[2022-05-17 09:05] #1415 closed

[2022-05-17 09:13] markmaker commented on #1346
I assume you are a bot, right? 🤖

What is the square root of the number of squares on a chess board?

[2022-05-17 13:05] elfring commented on #1346
I am not a “bot” (even if you present another such assumption).

The square root of 64 is 8.

[2022-05-17 13:19] markmaker commented on #1346
Ok, so please explain what this is in more words. I don't get it. Kann auch in Deutsch sein.

[2022-05-17 13:50] elfring commented on #1346
Where are the remaining understanding difficulties for the shown change possibilities?
Will they vanish by a corresponding merge request?

-----

Was sind die noch verbliebenen Verständnisschwierigkeiten für die gezeigten Änderungsmöglichkeiten?
Werden diese sich durch eine dazugehörige Integrationsanfrage auflösen?

[2022-05-17 13:54] markmaker commented on #1346
Please explain the rationale for the suggested change. What is better? What is the proof?

And yes, making it into a Pull Request would in deed make it much more understandable. Thanks.

[2022-05-17 22:48] noeldum commented on #1342
The issue seems to have been closed on the decision of a single individual. Also the prompt closing after the last message would indicate a decision made on gut feeling. I highly regret this for the community.

My contribution to this project is for providing operator feedback. Also being a profesional in production I do consider the suggested feature to be something valuable for OpenPnp. Clearly

[2022-05-18 00:55] Shaische commented on #1415
@markmaker Why is the other issue closed then if it still exists?

[2022-05-18 07:39] markmaker commented on #1342
We can reopen it now that the real intent is sorted out. Maybe you can edit the title to better reflect that intent.

_Mark

[2022-05-18 07:47] markmaker commented on #1415
I thought I close it, because there is a workaround solution to it.

AFAIK it is not our problem, but that of the MacOS theming. It does not seem to support dynamically changing tab titles, on some but not all Mac machines. Because I don't use a Mac, I also can't explore this further.

@vonnieda, should we keep Issues open in such cases?

_Mark

[2022-05-18 20:53] vonnieda commented on #1415
It's fine to leave it open for a while. Maybe someone wants to investigate it further.

[2022-05-19 01:43] Shaische commented on #1415
It's not just the name being copied over. All highlighted tabs have white text, making it hard to see what the tab says. See attached image. I think these two issues are related?

<img width="190" alt="screenshot_581" src="https://user-images.githubusercontent.com/2673147/169185770-afaa794a-d618-40c3-9c75-b8a114b4308a.png">
.

[2022-05-19 07:03] markmaker commented on #1199
According to discussion [here](https://github.com/openpnp/openpnp/issues/1415#issuecomment-1130536223), I'm reopening this.

[2022-05-19 07:05] markmaker commented on #1199
@Shaische

can you confirm that the [workaround here](https://github.com/openpnp/openpnp/issues/1199#issuecomment-918392848) works?

_Mark

[2022-05-19 16:09] Coffee0297 opened #1417 "OpenPNP refuses to start"
-----------------------------------------------------------------------

# Problem Report
## Describe the Issue
OpenPNP fails to start on POP!os 21.10.

## Notes, Log Files, Screen Captures, Videos, etc. to Show the Issue

[error.log](https://github.com/openpnp/openpnp/files/8732044/error.log)

[2022-05-28 20:19] surabibio opened #1423 "Programmatic editing of machine.xml"
# Unwarranted Addition of Bottom Vision with programmatic loading of machine.xml
## The Issue
I am trying to implement feeder groups through scripting in java. This requires loading and saving machine.xml through scripting. I find that every call to Configuration.get().load(); increments the Bottom Vision

## Steps to Reproduce
On a fresh installation of OpenPnP create this .java file as below and

[2022-05-29 09:39] markmaker commented on #1423
Sorry I don' know what you mean by "Bottom Vision keeps getting added for every call" or "increments the Bottom Vision".

Perhaps attach a `machine.xml` before and after? Or add a screenshot?

_Mark

[2022-05-29 18:37] surabibio commented on #1423
Mark, I don't think this way of updating the live machine from a machine.xml file is a good idea. I will try to add only feeders from an xml file to my script. (Please have a look into the script pull request)

[2022-05-29 20:22] ian-arkver commented on #1423
Reproduced here with latest test branch and no initial .openpnp2 dir (i.e. defaults used). Running the config.get.load script adds another instance of
[code]
every time.

[2022-05-29 21:32] ian-arkver commented on #1423
I took a look at this since it feels like a bug, even if reloading the machine.xml by script is a "Bad Idea". It's only ReferenceBottomVision that's getting recreated, not ReferenceFiducialLocator, even though the two classes share some code around configuration done callback and part migration.

I added a couple of traces to the configurationComplete override in BV...
[code]

The log looks like t

[2022-05-30 06:04] surabibio commented on #1423
Thanks Ian for giving life to this approach, which I had almost given up. Updating portion of machine.xml could open new possibilities to the user - like trying different vision pipelines apart from feeder management.  Also the machine gets switched off and locations get zeroed after config.get.load. Can this also be avoided?

[2022-05-30 07:33] markmaker commented on #1423
Hi @ian-arkver, @surabibio,

I don't understand, why one needs to reload the configuration, to change stuff from a script. You can arguably _more easily_ change it directly in the Java object tree. After all the XML serialization is driven by reflection. i.e. it is more or less a 1:1 image of the object tree (and vice versa).

I won't claim to have understood 100% of the ramifications of reloading

[2022-05-30 08:13] ian-arkver commented on #1423
Thanks Mark. It sounds like there are many other reasons why reloading the config in a script is a "Very Bad Idea", so this one isn't a particularly high priority. @surabibio should probably find another approach using other scripting hooks.

I'm back at $DAY_JOB now, so won't have time to go chasing down a dangling strong object reference in some list somewhere (if that's what it is).

All the be

[2022-05-30 08:17] ian-arkver commented on #1423
ps: Maybe there's an argument for splitting machine.xml to separate out the feeder config. Feeders will change much more frequently and dynamically than the base machine. That's a separate discussion for the group though.

[2022-05-30 09:33] markmaker commented on #1423
This is all not really addressing the real underlying issue, which is: OpenPnP should have logical feeder groups and mounting/unmounting. For BlindsFeeder arrays, other slate based designs, reel trolleys, or even single feeder slots.

See #943, but apart from just solving the location translation issue, there must be a mechanism to switch whole groups "unmounted" (which is _not_ the same as "feede

[2022-05-30 10:12] ian-arkver commented on #1423
Yes, I agree, doing it properly within OpenPnP is the best way. Managing feeder groups by switching in and out separate xml files would be hacky.

Re "track a part to its group"... Surely that's not a 1:1 relationship? Parts can be on multiple trolleys/slates as different jobs demand - or not currently assigned to any feeder bank.

As Jason and others said in #943, the community needs a discussion

[2022-05-30 12:55] markmaker commented on #1423
/> Surely that's not a 1:1 relationship?/

Correct, 1:1 was not implied, just to find a slate, slot mountable
feeder, trolley etc. that contains this part (among many possible
others, which all can be already mounted or unmounted). /How/, would
have to be discussed.

_Mark

On 30.05.22 12:13, ian-arkver wrote:

[2022-06-01 12:15] DragonearinLBro opened #1424 "@dragondevconaficesomar/Androidgits"
https://raw.githubusercontent.com/OWASP/crAPI/master/docs/overview.md https://raw.githubusercontent.com/OWASP/crAPI/master/docs/overview.md

Share From App: Dev Tools(Android Developer Tools)

[2022-06-01 12:19] DragonearinLBro commented on #1424
,
🇰🇾🇦🇨🇺🇾🌐🗺️🗾

[2022-06-01 12:22] #1424 closed

[2022-06-03 04:50] surabibio commented on #1423
Hi Mark and Ian,
With your inputs I have modified the approach to saving and loading feeders. This time I am using machine.removeFeeder() and machine.addFeeder(). Please have a look at the PR submitted in the openpnp/scripts repository and do the needful.
Ravi

[2022-06-28 10:54] Uchaplin opened #1432 "Example not work"
# Read This First
Issues must only be opened once they are confirmed.
Please [visit the discussion group](https://groups.google.com/group/openpnp) first, so bugs or missing features can be separated from other problems.

To submit an issue for OpenPnP you must use this template or it will be deleted. Please fill out either the Problem Report or Feature Request section below and delete the other se

[2022-06-28 10:57] Uchaplin commented on #1432
I tried examples in Windows 7 and it not work. I receive message "Attribute version does not a match in class.org.openpnp.models.Job  at line 3"

[2022-06-28 15:10] markmaker commented on #1432
_Please [visit the discussion group](https://groups.google.com/group/openpnp) first, so bugs or missing features can be separated from other problems._

_Mark

[2022-07-05 17:28] kusstech commented on #1063
HI how are you? thanks for all this work its amazing, im really new on open pnp, i have downloaded the openpnp from test downloads, i manage to connect the serial port to machine and cameras, but im really lost with machine setup, i added the neoden4 driver and i can home the machine but anything else, is there a machine set up ready for neoden4 ?

[2022-07-05 17:42] JeremiahGillis commented on #1063
Join the OpenPnP [Discord](https://discord.gg/EmsrFVx) and check the neoden channel. Someone recently posted a machine.xml file which will help. I set the machine up from scratch which took me awhile to figure out. I need to alter my configuration since there were recent NeoDen changes in the test branch.

[2022-07-09 22:55] dronecz opened #1437 "Raspberry Pi camera is not working under 64-bit version of Raspberry Pi OS"
# Problem Report
## Describe the Issue
I tested Raspberry Pi 4 with Raspberry Pi v2 camera and OpenPnP running on 64-bit version of Raspberry Pi OS and I can add new OpenPnpCaptureCamera, but I´m not able to use this camera. I can see multiple `bcm2835-isp` devices, but all have `0 x 0 px` resolution in all formats (see images).

![openpnp_camera_device](https://user-images.githubusercontent.com/1

[2022-07-10 08:44] markmaker commented on #1437
Hi @dronecz,

I guess you need to open his issue at [openpnp/openpnp-capture](https://github.com/openpnp/openpnp-capture/issues) (different repo).

See also here, and perhaps contact @brainstorm:
https://github.com/openpnp/openpnp-capture/pull/47

_Mark

[2022-07-13 14:21] markmaker commented on #1342
This was now implemented, with the known limitation that it cannot break up steps into individual machine moves, i.e. steps can have multiple motions in them. Example: the fiducial check will run as a whole, not individually per fiducial.

See #1441.

Available in the testing version:

https://openpnp.org/test-downloads/

[2022-07-13 14:28] markmaker commented on #1342
If breaking up steps, i.e. single machine move stepping was ever attempted, it is likely better implemented at a more general level, i.e. _outside_ the JobProcessor, so other actions could be motion-stepped too. If somebody really needs that, a new Issue should be filed.

I'm closing this now.

[2022-07-14 00:04] brainstorm commented on #1437
Thanks Mark for the @-mention,

Hello again @dronecz, long time since we talked about this ;)

I have no experience with those cameras *and* openpnp, so far I've only played with USB ones and [openpnp-kiosk](github.com/CCHS-Melbourne/openpnp-kiosk). I'll give a try with a spare camera I have (Arducam) and see if it gives much trouble with Jetson Nano and that CSI connector... That's all I can do f

[2022-07-14 00:39] dronecz commented on #1437
Thanks for reply and congrats to your new little happiness ❤.

As @markmaker pointed, this maybe problem in `openpnp-capture` part, but I´m not sure about that as I do not know how listing of the divices work under the hood of openpnp.

I´m willing to test what I can, but my knowledge of linux systems is bit limited. Maybe I could test some files from [openpnp-capture](https://github.com/openpnp/o

[2022-07-15 20:02] noeldum opened #1444 "Feature / add a number ID for each panel on GUI table."
# Feature Request
## Describe the Feature
It would be really convenient to have a number ID in front of each panel. Above a certain number of panels (say 5) it currently become difficult to keep track on the panel we are working on as all entry in the table look more or less the same. Having to count the panels after we have focused the mouse elsewhere isn't too smooth on user experience. Say I do

[2022-07-23 07:54] markmaker commented on #1016
`pickLocation` should be made a local variable of `getPickLocation()` initialized to `location`. It is reset in each call to `feed()` I see no sensible use of this copy.

_Mark

[2022-07-23 08:13] markmaker commented on #1016
But for the `ReferenceStripFeeder` that the OP referred to, I see no redundancy. Maybe it was solved in #1031.

I also cannot reproduce it.

_Mark

[2022-07-23 08:49] markmaker commented on #1016
See #1449.

[2022-07-23 08:51] markmaker commented on #1016
Closing this as no longer reproducible for `ReferenceStripFeeder` and solved by #1449 for `ReferenceDragFeeder`.
_Mark

[2022-07-23 08:51] #1016 closed

[2022-07-23 14:01] noeldum commented on #1342
Works well. Thanks for the fix.

[2022-07-23 17:19] infinitemachinery opened #1451 "ReferenceRotatedTrayFeeder not picking from correct location"
[machinesettings.zip](https://github.com/openpnp/openpnp/files/9174242/machinesettings.zip)
[OpenPnP.log](https://github.com/openpnp/openpnp/files/9174244/OpenPnP.log)
# Read This First
Issues must only be opened once they are confirmed.
Please [visit the discussion group](https://groups.google.com/group/openpnp) first, so bugs or missing features can be separated from other problems.

To submit a

[2022-07-24 11:25] surabibio commented on #1016
Wow and Thanks

[2022-07-24 23:34] qwertymodo opened #1453 "Feature Request: Semi-automated strip feeder reload/re-locate"
# Feature Request
## Describe the Feature
For speed reasons, and also because of rather frequent vision issues where the top camera randomly can't detect tape holes in certain areas of strip feeders, I have started running my strip feeders with vision disabled.  This works much more reliably, and much faster, but it does come with one large drawback, which is that reloading the feeders requires ma

[2022-07-27 10:23] markmaker commented on #1453
Hi @qwertymodo ,

You should note that you can do all that and much more using the [BlindsFeeder](https://github.com/openpnp/openpnp/wiki/BlindsFeeder).

Conversely, strip feeders are really thought for "short term" use, because once the parts are used up, you can't reload them (assuming you have simply taped them down). So the notion of removing and then restoring feeders from/to the machine does

[2022-07-27 19:06] qwertymodo commented on #1453
Perhaps this was a bit of miscommunication on my part.  When I say "relocate" I don't mean moving the feeder around on the machine, I'm talking about a strip feeder that is rigidly attached to the machine, but once the strip runs out and you put a new strip in, it doesn't have any way of ensuring that the new strip is exactly in the same place, it can slide forward and backward within the feeder,

[2022-07-31 19:52] markmaker commented on #1118
Wiki images, do not delete:
___
![Nozzle tip compatibility](https://user-images.githubusercontent.com/9963310/182042739-ed3cd0de-3268-4b5e-8009-ba38215c37d2.png)

[2022-08-01 17:24] crashmatt opened #1459 "BlindsFeeder - OCR not working on Test branch"
# Problem Report
Doing OCR on BlindsFeeder always throws an error reported as **missing an "OCR" stage in the pipeline**

## Steps to Reproduce
How can a developer reproduce the issue you are experiencing? Use a step by step format like this:
1. Configure a BlindsFeeder to use OCR
2. Select the "OCR Detect" button
3. Machine moves to OCR location to take image

## Expected Result
Should collect OC

[2022-08-01 17:44] markmaker commented on #1459
Please test with newest `test` version.

@crashmatt, thanks again for reporting.

I'm closing this as you already tested. Should there be a problem left, we can reopen.

_Mark

[2022-08-01 17:44] #1459 closed

[2022-08-02 21:31] noeldum commented on #1326
Are you thinking of using a board fiducial as a panel fiducial here?

I think it's a good idea. We would select the board number in the panel and one of its fiducial to define the panel fiducial. Can you confirm this is how you visioned it?

As a work around what if you just enter the coordinate of the desired board fiducial in the panel option window. That should do what you need? Say your board

[2022-08-02 22:02] noeldum opened #1464 "Bug / All panels getting set as enabled after using 'multiple placement' button"
# Problem Report
## Describe the Issue
The "set the board location using multiple placements" button will set all panels as 'enabled' after being used. This behavior is unwanted as the user expect to have the enabled tick boxes remaining the same at all time. Enabled tick boxes should be changed only under the control of the user.
For the little story I wanted to just assemble only one board in th

[2022-08-10 16:02] markmaker commented on #180
![Add Actuator](https://user-images.githubusercontent.com/9963310/183957702-706a9d6f-ea75-4910-a912-8f9ed60714f2.png)
![Select Actuator Type](https://user-images.githubusercontent.com/9963310/183957798-81caddf2-b24b-405c-8d09-63a7b714621f.png)

[2022-08-13 09:49] noeldum opened #1469 "Bug / 'Next Placement' button causing exception on missing part."
# Problem Report
## Describe the Issue
When using the 'next placement' button to a missing part in the job an error appears. It looks like this is unmanaged.
![Screenshot_2022-08-13_10-30-46](https://user-images.githubusercontent.com/1875345/184478326-7ff1997b-f316-48d6-9ddc-fbf5a29ade68.png)

## Steps to Reproduce
* Load the attached job. x.job.xml
* Move the machine to the part just before the m

[2022-08-13 10:06] markmaker commented on #1469
@noeldum, thanks for reporting. This will be fixed in the upcoming roundup.

[2022-08-13 10:21] noeldum opened #1470 "Bug / Board Enable tick box setting all boards corrdinates same as first board."
**I would say this is a rather important problem.**

# Problem Report
## Describe the Issue
When using panels with multiple boards and individual coordinates for each board if we hit the enable button for the first board all coordinates get reset to the same value as the fist board.
Note this is a very frustrating problem. If I have spent a fair bit of time to adjust each board coordinates I clear

[2022-08-13 10:57] markmaker commented on #1470
@tonyluken,
you said earlier that you are working on this, right?

Am I right to assume that the _underlying_ problem is the same one as reported [here](https://groups.google.com/g/openpnp/c/ovc3hja6cak/m/dOd30BDvAAAJ);

I.e. the panelizing function does not properly deep copy independent instances of boards and their placements?

_Mark

[2022-08-13 15:17] tonyluken commented on #1470
@markmaker,

Yes, I'll take care of this as part of my panelization upgrades.  Note there are several other open issues regarding panelization that I also plan on addressing: [#1464 ](https://github.com/openpnp/openpnp/issues/1464), [#1444 ](https://github.com/openpnp/openpnp/issues/1444), [#1326 ](https://github.com/openpnp/openpnp/issues/1326), [#949 ](https://github.com/openpnp/openpnp/issues/9

[2022-08-13 16:27] noeldum commented on #1470
You are very welcome Tony. Thanks a lot.
Panelisation does need to be brought up to speed with the rest I think.

There is another issue that I am about to file but maybe it will be already taken care of. I'll summarise it below.
" When stopping a panelised job with the red square button the remaining unplaced parts identical to the last pick part are marked as 'placed' although they are physicall

[2022-08-13 17:47] tonyluken commented on #1470
@noeldum,
I think that is probably the same issue as reported in #823

[2022-09-02 04:56] morganrallen opened #1477 "Anyone can edit the wiki?"
Someone added a tracking link to the wiki and I was able to undo it. This probably isn't ideal.

https://github.com/openpnp/openpnp/wiki/Setup-and-Calibration:-Machine-Setup/_compare/819e7cc909b81fc8f7a43dbcd40ae6c086d0493f...b5f6c8cbef4bb4504e009ddc2b5af3c4c2b6e09d

[2022-09-02 14:32] crashmatt commented on #1240
A bit late to the party.  Just got a [working openpnp branch of Marlin 2](https://github.com/crashmatt/Marlin/tree/openpnp) running.

[2022-09-02 15:18] vonnieda opened #1478 "Upgrade Install4J, Drop old VMs, Bundle New Ones"
Placeholder for some work I'm going to do in the Install4J system.

[2022-09-02 15:20] vonnieda commented on #1477
Thank you for finding that and making the change. I'll check Git history and see if any other edits were made. The user that made the edit appears to no longer exist.

I've always felt that anyone being able to edit the Wiki was the best way to let people get involved, but this is a real bummer. I'll give it some thought.

[2022-09-02 15:27] vonnieda commented on #1477
I've found several more evil edits. I'm reverting them now and I've locked down the Wiki to people with commit access for now. CC @markmaker

[2022-09-02 15:39] vonnieda commented on #1477
Alright, I think I've cleaned them all up. Thanks again @morganrallen for catching this and fixing it. I'm leaving the Wiki locked down for now until there's a good reason not to.

[2022-09-02 15:39] #1477 closed

[2022-09-03 18:20] alexanderwiller opened #1481 "Feature Request: Optionally allow actuators to operate while machine is off or add the concept of servo power on/off"
# Feature Request
## Describe the Feature
I see two possible variants of this feature:

### Actuators have an option to allow their operation even while the machine is off
This option would introduce a checkbox in the configuration wizard for actuators. When the checkbox is active, the actuator can be used even while the machine is not enabled.

### The machine has a general enabled state and a se

[2022-09-04 08:02] markmaker commented on #1481
Hi @alexanderwiller,

I'm glad you discuss this first. The machine enabling/disabling is also coupled with connecting/disconnecting to the controllers. So with a disabled machine, you cannot currently actuate actuators, and if you wanted to do so, you would need some kind of ad-hoc-connection, which would be a mess in a multi-controller setup.

For the kind of safety you want, please have a look a

[2022-09-04 10:14] alexanderwiller commented on #1481
Hello @markmaker,

regarding the first option I outlined, I see that there may be some significant issues with the need for ad-hoc connections.

Seeing https://github.com/openpnp/openpnp/blob/develop/src/main/java/org/openpnp/machine/reference/driver/wizards/GcodeDriverSettings.java#L193-L194 made me think that this would be an option, but I'm not so sure anymore. Already in my case, some problems

[2022-09-04 10:42] markmaker commented on #1481
Sorry gotta go now, will read this later/tomorrow.

[2022-09-04 17:04] markmaker commented on #1481
Hi @alexanderwiller,

OK now I understand much better. Some thoughts:

- I believe we should not make OpenPnP more complex for the vast majority of users that do not have "Terminator class" machines 😆. Most have light aluminium extrusion/stepper motor machines that may still hurt but don't usually maim or kill, so I'm looking for something that can be added as an option (read on before forming cou

[2022-09-05 09:17] alexanderwiller opened #1482 "Feature Request: Management of configuration that doesn't belong to the Machine"
# Feature Request
## Describe the Feature
The feature should provide a place for storing configuration that is not machine configuration.

Machine configuration should be defined as anything that relates to the physical capabilities of the machine, directly or indirectly. I think this is best illustrated by all items that are now to be found under `ReferenceMachine` in the setup tree.

Not machine

[2022-09-05 11:20] alexanderwiller commented on #1481
Hey @markmaker,

thanks for those those thoughts, I've tried to address them in the first three points, then went on about some other aspects. Sorry for that wall of text 😄

### Complexity exposed to users
I agree with the point of avoiding any unnecessary complexity and don't think that having this intermediate state has to make things more complicated for users that don't want to use it. It coul

[2022-09-05 12:54] markmaker commented on #1482
Hi @alexanderwiller,

I can follow you that most things should be stored in one of the usual `.xml` files, instead of (as it is today) in `java.util.prefs.Preferences` through the `org.openpnp.model.Configuration.prefs`. I always hate it that restoring a `machine.xml` does not restore these properties, and that they are not visible/editable when users send their config.

Likewise, I agree, the Mac

[2022-09-05 14:19] markmaker commented on #1481
Hi @alexanderwiller,

I may misunderstand something, but it appears to me that you kind of argue _my_ case. If the machine remains homed all the time thanks to absolute encoders, and even for cyclic encoders, there is _"simply no need for anything else than a `HOME_COMMAND` with those drives"_, then there is no need to make these two states (Powered/Homed) separate or nested. You also haven't disp

[2022-09-06 07:25] alexanderwiller commented on #1482
Hey @markmaker

I want to first try to establish the points we agree on:
- It would be desirable to abandon any configuration store that is not in the .openpnp2 directory in the form of XML files, except maybe for window positions and similar things (future custom toolbars would still go into XML).
- There is a need for some kind of container structure for those configuration items that don't fit

[2022-09-06 11:55] alexanderwiller commented on #1481
Hey @markmaker

I think now I got the central point you were trying to make, that is that servo enabled/disabled and homed/not homed can exist in parallel in any combination. Good that you pointed it out again, thanks.

My perspective was always the workflow perspective, e.g. enable machine -> load feeders -> turn on servos -> home -> work -> turn off servos (optional) -> fix feeders -> turn on se

[2022-09-06 14:44] markmaker commented on #1482
Yes, we do agree on those.

Haha, I was mistaken. The fact that the feeders are also available separately on the Feeders tab threw me. Just momentarily took them the same way as Parts, Packages and Vision which have their own `.xml`. Funny how the brain associates sometimes.

I disagree that this is so clear-cut. It could be well argued that the Machine is the _defining_ root object for one instan

[2022-09-12 18:20] markmaker commented on #1469
Forgot to report, this was fixed in #1472.

[2022-09-12 18:20] #1469 closed

[2022-09-12 18:22] markmaker commented on #1432
Seems abandoned.

[2022-09-12 18:22] #1432 closed

[2022-09-12 18:24] markmaker commented on #1423
Moved to https://github.com/openpnp/scripts/pull/2

[2022-09-12 18:24] #1423 closed

[2022-09-12 18:28] markmaker commented on #1417
Please go to the [OpenPnP discussion group](http://groups.google.com/group/openpnp) where more people can help.

We can reopen this issue, if the problem can be better described.

_Mark

[2022-09-12 18:28] #1417 closed

[2022-09-15 07:09] noeldum commented on #1469
Can do but will take a while. We are busy with production at the moment. Also my openpnp machine has been temporarily decommissioned because we are getting a new pick and place. I'll surely give this a try when possible.

[2022-09-18 10:39] A-kirby opened #1487 "WIKI"
# Read This First
Issues must only be opened once they are confirmed.
Please [visit the discussion group](https://groups.google.com/group/openpnp) first, so bugs or missing features can be separated from other problems.

To submit an issue for OpenPnP you must use this template or it will be deleted. Please fill out either the Problem Report or Feature Request section below and delete the other se

[2022-09-18 10:39] A-kirby commented on #1487
outdated Wiki info

[2022-09-18 14:01] markmaker commented on #1487
Would you like to edit it?

[2022-09-21 22:28] GeoffState opened #1488 "Typo in Named CSV Import"
# Read This First
Issues must only be opened once they are confirmed.
Please [visit the discussion group](https://groups.google.com/group/openpnp) first, so bugs or missing features can be separated from other problems.

To submit an issue for OpenPnP you must use this template or it will be deleted. Please fill out either the Problem Report or Feature Request section below and delete the other se

[2022-09-21 23:09] GeoffState commented on #1488
**TO FIX**
**File:** NamedCSVImporter.java
**Line:** 403: JLabel lblTopFilemnt = new JLabel("Cen**ter**oid File (.csv)");
Centeroid should read Cen**tr**oid

[2022-09-22 05:54] markmaker commented on #1488
Thanks, @GeoffState, done in #1489

[2022-09-22 05:54] #1488 closed

[2022-09-22 06:05] markmaker commented on #1488
Now available in the `testing` version. I don't think it is important enough to cherry-pick to the `regular` version.

[2022-10-04 08:10] kaklik commented on #881
That seems to be an outdated issue, which is not present in recent OpenPnP versions. I think it should be closed as resolved.

[2022-10-04 08:21] kaklik commented on #1325
The same happens to me:

![image](https://user-images.githubusercontent.com/1194177/193769605-a06c6da5-7715-48dd-a27c-18277b127d55.png)

I should use 3x Tabulator and enter to hit the "hidden" OK button.

I am running that version of OpenPnP
![image](https://user-images.githubusercontent.com/1194177/193770250-9f5528b5-537d-401a-b346-9ee5abccabf4.png)

on Ubuntu:

Distributor ID:	Ubuntu
Description

[2022-10-09 06:18] GeoffState commented on #1388
Unable to reproduce this error

[2022-10-09 06:24] GeoffState commented on #1388
Refer https://groups.google.com/g/openpnp/c/oLnIIVpTDMc

[2022-10-21 23:19] GeoffState commented on #1470
I noticed this while addressing #1444 and know why it happens. I am currently working on a solution.
I believe the bug occurs because the code is written such that should you add a board with the same name as one already on the boards panel, the file is NOT loaded but assigned a copy of the board with the same name. You have noticed the effect this has.

[2022-10-21 23:25] GeoffState commented on #1444
I am currently working on a solution which is looking good. There is a coding assumption that causes bug #1470 that I will solve to deliver this feature request.

[2022-10-22 01:12] GeoffState commented on #1444
### Thoughts
Further to above; after I have duplicated the files and the user edits them as in #1470, what am I do do with the disparate versions of the original files when it comes time to leave the application and offer to save files? My solution would be to modify the name of the files to include the, what I will call, **Ref** and leave the original disk file untouched.  This would yield new fi

[2022-10-22 15:38] tonyluken commented on #1444
@GeoffState,

Can you hold off on this?  Look at [NewPanelization.pdf](https://github.com/openpnp/openpnp/files/9844727/NewPanelization.pdf) to see what I already have implemented.  No use in us both working this same issue.

[2022-10-24 06:08] GeoffState commented on #1470
I am preparing a pull request that solves this problem.
Expected Result above, is achieved

[2022-10-24 20:08] tonyluken commented on #1470
@GeoffState, can you hold off on this?  I've already implemented a fix for this plus a lot more.  There's no use in us both working the same issue.

[2022-10-24 20:41] GeoffState commented on #1444
Tony, that's impressive! I'll set mine aside. Your work will
probably fix #1470 too.

Why don't we assign the tasks on github? I wonder if that's a paying
feature? I have no experience of working in a team environment and see the
project with 88 issues and only one assigned. I wonder how I request
assignment? I will research today. I am currently working on 4; minus two
now, #1444 and #1470.

I ma

[2022-10-24 21:25] GeoffState commented on #1470
OK, #1444 and #1470 are yours @tonyluken, thanks.

[2022-11-08 06:16] vonnieda commented on #1444
Hi Geoff,

We've never been very formal about it as there's typically been few contributors at once. I believe you should be able to assign yourself to let others know you are working on something. Let me know if that doesn't work.

Jason

[2022-11-08 06:31] #1487 closed

[2022-11-09 00:25] GeoffState commented on #1444
OK
Best Regards
Geoff

On Tue, Nov 8, 2022 at 7:16 PM Jason von Nieda ***@***.***>
wrote:

[2022-11-14 22:46] ma-lalonde commented on #823
Same.

[2022-11-20 11:28] listff opened #1495 "Openpnp trademark squatted"
Openpnp is registered as a trademark in China,
![IMG_1074](https://user-images.githubusercontent.com/24515873/202899046-450e46b4-0546-4342-8e61-969b6de21a8f.JPG)

this is his youtube channel https://www.youtube.com/channel/UC0HdFo97MsES_ZxW6iCv4Rw/videos
his website https://www.openpnp.cn/

https://www.openpnp.cn/archives/3030
On this page you can see that his company name is 河北擎展智能科技有限公司

This is

[2022-11-21 16:47] vonnieda commented on #1495
Thank you for this @listff.

[2022-11-21 18:07] darkomenz commented on #1437
I am also seeing this issue on the RPI CM4 so I opened a ticket at https://github.com/openpnp/openpnp-capture/issues/60

[2022-11-22 02:39] listff commented on #1495
He has a history of many patent infringements, he manufactures feeder imitations of feederfinger patents and applies for patents in China @vonnieda

[2022-11-25 07:07] listff commented on #1495
Hi vonnieda, is there any progress in protecting the openpnp trademark? @vonnieda

[2022-11-25 07:30] 4044ever commented on #1495
Once you have Chinese trademark squatter that is basically it. From what I know, it's gone forever.
Actually I was planning to get something from Alan0131, now I reconsider.